.divpanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.divpanel img {
    height: 80%;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
}