.divmain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}
.imgcharacter {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border: 1px solid black;
}
.imgloading {
    width: 250px;
    height: 250px;
    object-fit: contain;
    animation: rotate 1.5s linear infinite; 
}
.divname {
    font-size: 36px;
    font-weight: 700;
}
.divspecies {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.divgender, .divstatus{
    font-weight: 300;
    font-size: 18px;
    margin: 5px;
}
.divstatus {
    margin-bottom: 35px;
}

.listepisodes {
    width: 50%;
    max-height: 35%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 5px;
}
.divlocation {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    margin: 30px;
}
.divlocation div:nth-child(2) {
    font-weight: 500;
    font-size: 20px;
}
@keyframes rotate{
    to { transform: rotate(360deg); }
}