.divcard {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    color: black;
    cursor: pointer;
}
.divcard img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.divcard div {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
    text-decoration: none;
}
.divcard div:last-child {
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}