.divmain {
    width: 250px;
    height: 200px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    background: rgba(250, 250, 250, 1);
    font-family: 'Roboto';
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divname {
    font-size: 20px;
    color: black;
}
.divtype {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}
.divdimension {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}