.divhome {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.divhome img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.divhome input::placeholder {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
}
.divhome input {
    width: 50%;
    height: 50px;
    text-align: left;
    font-size: 16px;
    border-radius: 8px;
}