.divmain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divitems {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.imgloading {
    width: 250px;
    height: 250px;
    object-fit: contain;
    animation: rotate 1.5s linear infinite; 
}
@keyframes rotate {
    to { transform: rotate(360deg); }
}