.divmain {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}
.divmain div {
    margin: 16px;
}
.divname {
    font-weight: 700;
    font-size: 36px;
}
.divair_date {
    font-weight: 500;
    font-size: 24px;
}
.divepisode, .divcreated {
    font-weight: 400;
    font-size: 18px;
}
.divcharacters {
    width: 50%;
    max-height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;
}