.divheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-color: white;
    box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.1);
}

.divheader ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: black;
    margin: 0px;
    margin-right: 20px;
}

.divheader li {
    margin: 15px;
}

.divheader a {
    text-decoration: none;
    color: black;
}
.divheader > a:first-child {
    height: 85%;
    margin-left: 120px;
}
.divheader img {
    height: 100%;
    object-fit: cover;
}
.active {
    text-decoration: underline;
}