@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-family: 'Roboto', sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
}
body > div {
  height: 100%;
}
